[[extend 'layout.html']]


<!-- We don't want any HTML here other than the vue tag -->
<div id="vue">
  [[=app]]
</div>

[[block page_scripts]]

<!-- Here is where we define all of the JS for our components, super important -->
<script src="components/main_app/main_app.js"></script>
<script src="components/about_page/about_page.js"></script>
<script src="components/sample_page/sample_page.js"></script>
<!-- We need a Vue object to be able to attach components to it. -->
<script>
  var app = new Vue({
    el: "#vue",
    data: {},
  });
</script>
[[end]]